In [1]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np
# train 변수 : 문제 가져오기
data_train = pd.read_csv('data/kaggle/train.csv')
# test 변수 : 정답 가져오기
data_test = pd.read_csv('data/kaggle/test.csv')

In [2]:
# 필요없는 컬럼 drop
data_train = data_train.drop(['no','fnlwgt','occupation','native-country','education'],axis=1)
data_test = data_test.drop(['no','fnlwgt','occupation','native-country','education'],axis=1)

# 자산이득액 에서 자산손해액을 뺴서 순이익을 구하기
data_train['total_cap'] = data_train['capital-gain'] - data_train['capital-loss']
data_test['total_cap'] = data_test['capital-gain'] - data_test['capital-loss']

#  순이익 계산후 필요없어진 컬럼 삭제
data_train = data_train.drop(['capital-gain','capital-loss'],axis=1)
data_test = data_test.drop(['capital-gain','capital-loss'],axis=1)

In [3]:
# 테스트 데이터와 트레인 데이터 일단 먼저 붙이기
data_concat = pd.concat([data_train,data_test])

In [6]:
# 트레인 데이터
data_train

,age,workclass,education-num,marital-status,relationship,race,sex,hours-per-week,income,total_cap
0,25,Private,7,Divorced,Not-in-family,White,Male,40,0,0
1,39,Private,10,Divorced,Not-in-family,White,Female,55,0,-1721
2,35,Private,13,Never-married,Not-in-family,Asian-Pac-Islander,Female,50,0,0
3,64,Private,11,Divorced,Not-in-family,White,Female,40,0,0
4,24,Private,10,Married-civ-spouse,Husband,White,Male,70,1,0
...,...,...,...,...,...,...,...,...,...,...
29300,20,Private,9,Never-married,Own-child,Other,Male,40,0,0
29301,21,Private,9,Never-married,Own-child,Black,Male,40,0,0
29302,18,Self-emp-not-inc,6,Never-married,Own-child,White,Male,40,0,0
29303,33,Private,7,Never-married,Not-in-family,White,Male,65,0,0
29304,65,?,9,Widowed,Not-in-family,White,Female,40,0,0

In [5]:
data_test

,age,workclass,education-num,marital-status,relationship,race,sex,hours-per-week,total_cap
0,18,?,10,Never-married,Own-child,White,Male,16,0
1,29,Private,9,Married-civ-spouse,Wife,White,Female,40,0
2,45,Private,13,Married-civ-spouse,Husband,Black,Male,40,0
3,42,Self-emp-not-inc,13,Married-civ-spouse,Husband,White,Male,40,0
4,41,Private,16,Married-civ-spouse,Wife,White,Female,40,-1902
...,...,...,...,...,...,...,...,...,...
19532,45,Self-emp-not-inc,9,Married-civ-spouse,Husband,White,Male,60,0
19533,48,Private,9,Never-married,Not-in-family,White,Female,50,0
19534,63,Private,10,Married-civ-spouse,Husband,White,Male,40,4386
19535,18,Private,7,Never-married,Own-child,White,Female,20,0
19536,31,Private,12,Married-civ-spouse,Husband,Black,Male,46,0

In [7]:
 # 트레인 데이터의 정답
data_train['income']

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [8]:
data_concat

,age,workclass,education-num,marital-status,relationship,race,sex,hours-per-week,income,total_cap
0,25,Private,7,Divorced,Not-in-family,White,Male,40,0.0,0
1,39,Private,10,Divorced,Not-in-family,White,Female,55,0.0,-1721
2,35,Private,13,Never-married,Not-in-family,Asian-Pac-Islander,Female,50,0.0,0
3,64,Private,11,Divorced,Not-in-family,White,Female,40,0.0,0
4,24,Private,10,Married-civ-spouse,Husband,White,Male,70,1.0,0
...,...,...,...,...,...,...,...,...,...,...
19532,45,Self-emp-not-inc,9,Married-civ-spouse,Husband,White,Male,60,NaN,0
19533,48,Private,9,Never-married,Not-in-family,White,Female,50,NaN,0
19534,63,Private,10,Married-civ-spouse,Husband,White,Male,40,NaN,4386
19535,18,Private,7,Never-married,Own-child,White,Female,20,NaN,0
19536,31,Private,12,Married-civ-spouse,Husband,Black,Male,46,NaN,0

In [9]:
# 정답 데이터
income_raw = data_concat['income']

In [10]:
# 전처리 되기 이전의 feature들 (전처리 되기전 문제들)
features_raw = data_concat.drop('income', axis = 1)

In [62]:
skewed = ['total_cap']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))

C:\Users\smhrd\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

예를 들어, 'capital-gain'이라는 변수는 소득에 대한 정보를 나타내는데, 값이 작은 샘플들이 많고, 큰 값들은 소수에 해당하는 경우가 있습니다. 이런 경우에는 데이터의 분포가 왜곡되어 있을 수 있습니다.

로그 변환은 이런 경우에 주로 사용됩니다. 로그 변환은 각 데이터 포인트의 값을 로그 함수를 적용하여 변환합니다. 이는 큰 값들에 대해 작은 값으로 압축하고, 작은 값들에 대해 더 큰 차이를 만들어줍니다. 이로써 분포를 더 넓게 펼치고, 왜곡을 줄이는 효과를 얻을 수 있습니다.

예시를 들어보겠습니다. 원래 'capital-gain' 변수의 값이 [0, 100, 1000, 10000]이라고 가정해봅시다. 이 값들에 로그 변환을 적용하면, [0, 4.61, 6.91, 9.21]으로 변환됩니다. 이렇게 되면, 원래 값이 100과 10000 사이에 큰 차이가 있었지만, 로그 변환 후에는 값들이 더 가까워지고 분포가 더 균일해집니다.

In [12]:
# min max 스케일러를 이용하여 특징 벡터 (문제들) 스케일링 (최소 최대 정규화)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
numerical = ['age', 'education-num', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

In [13]:
features_final = pd.get_dummies(features_log_minmax_transform)

income = np.where(income_raw.values == '>50K', 1, 0)

encoded = list(features_final.columns)
print("{} total features after one-hot encoding.".format(len(encoded)))

print(encoded)

33 total features after one-hot encoding.
['age', 'education-num', 'hours-per-week', 'total_cap', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'marital-status_ Divorced', 'marital-status_ Married-AF-spouse', 'marital-status_ Married-civ-spouse', 'marital-status_ Married-spouse-absent', 'marital-status_ Never-married', 'marital-status_ Separated', 'marital-status_ Widowed', 'relationship_ Husband', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Female', 'sex_ Male']

C:\Users\smhrd\AppData\Local\Temp\ipykernel_13256\4168584927.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  income = np.where(income_raw.values == '>50K', 1, 0)

In [14]:
print(income)

0

In [15]:
# 훈련 데이터의 피쳐 (train, test를 합친 상태이기 때문에 train 데이터와 test 데이터를 다시 분리함)
X_train = features_final.iloc[:29305,:]
X_train

,age,education-num,hours-per-week,total_cap,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.109589,0.400000,0.397959,0.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1,0.301370,0.600000,0.551020,NaN,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
2,0.246575,0.800000,0.500000,0.0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
3,0.643836,0.666667,0.397959,0.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,0.095890,0.600000,0.704082,0.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,0.041096,0.533333,0.397959,0.0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,1
29301,0.054795,0.533333,0.397959,0.0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,1
29302,0.013699,0.333333,0.397959,0.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
29303,0.219178,0.400000,0.653061,0.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
29304,0.657534,0.533333,0.397959,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [16]:
### 테스트 데이터의 피쳐
X_test = features_final.iloc[29305:,:]
X_test

,age,education-num,hours-per-week,total_cap,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.013699,0.600000,0.153061,0.000000,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,0.164384,0.533333,0.397959,0.000000,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
2,0.383562,0.800000,0.397959,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,0.342466,0.800000,0.397959,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0.328767,1.000000,0.397959,NaN,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,0.383562,0.533333,0.602041,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
19533,0.424658,0.533333,0.500000,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
19534,0.630137,0.600000,0.397959,8.386401,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
19535,0.013699,0.400000,0.193878,0.000000,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
19536,0.191781,0.733333,0.459184,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [17]:
# 훈련 데이터 정답
y_train = data_train['income']
y_train

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [18]:
# lgb 모델 사용하여 예측
from lightgbm import LGBMClassifier

lgb = LGBMClassifier(random_state=200, n_jobs=-1, reg_alpha=0.9, reg_lambda=0.2, n_estimators=200)

# lgb 모델 훈련
lgb.fit(X_train, y_train)

# 훈련한 lgb 모델로 예측한 결과
y_pred = lgb.predict(X_test)

rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = y_pred
rs.to_csv('50K_01.csv', index=False)

In [19]:
# 방식은 이거임 -> 테스트 데이터도 훈련 데이터로 이용하자 테스트 데이터에 존재 하지 않는 정답 데이터는 처음에 훈련 데이터로 예측한 테스트 데이터 값을 정답 데이터로 사용하자
# 훈련 데이터와, 테스트 데이터 합치기 (테스트 데이터 정답은 훈련된 모델의 예측한 결과를 사용)
X_train_2 = pd.concat([X_train,X_test])
X_train_2

,age,education-num,hours-per-week,total_cap,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
0,0.109589,0.400000,0.397959,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
1,0.301370,0.600000,0.551020,NaN,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
2,0.246575,0.800000,0.500000,0.000000,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
3,0.643836,0.666667,0.397959,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,0.095890,0.600000,0.704082,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19532,0.383562,0.533333,0.602041,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
19533,0.424658,0.533333,0.500000,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
19534,0.630137,0.600000,0.397959,8.386401,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
19535,0.013699,0.400000,0.193878,0.000000,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
19536,0.191781,0.733333,0.459184,0.000000,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [82]:
# 방식은 이거임 -> 테스트 데이터도 훈련 데이터로 이용하자 테스트 데이터에 존재 하지 않는 정답 데이터는 처음에 훈련 데이터로 예측한 테스트 데이터 값을 정답 데이터로 사용하자
# 훈련 데이터와, 테스트 데이터 합치기 (테스트 데이터 정답은 훈련된 모델의 예측한 결과를 사용)
X_train_2 = pd.concat([X_train,X_test])

In [21]:
y_train

0        0
1        0
2        0
3        0
4        1
        ..
29300    0
29301    0
29302    0
29303    0
29304    0
Name: income, Length: 29305, dtype: int64

In [83]:
y_1=y_train.to_numpy()

In [84]:
y_t = np.concatenate([y_1, y_pred])

In [85]:
y_t = list(y_t)

In [86]:
y_train_change=pd.Series(y_t)

In [87]:
### 모델 훈련
lgb.fit(X_train_2,y_train_change)

LGBMClassifier(n_estimators=200, random_state=200, reg_alpha=0.9,
               reg_lambda=0.2)

In [29]:
# lgb 모델로 예측한 결과
pre1 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre1 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_02.csv', index = False)

In [75]:
# 위 과정 반복 -> 모델 예측한 결과중 더 좋은 결과를 다시 테스트 데이터의 정답으로 활용 + 트레인 데이터와 다시 합치고 다시 모델 학습
y_t = np.concatenate([y_1, pre1])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre2 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre2 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_02.csv', index = False)

In [76]:
y_t = np.concatenate([y_1, pre2])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre3 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre3 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_03.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86887092 0.86968984 0.87018837 0.97522523 0.99242424]
평균 정확도: 0.9152797182482922

In [34]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86938274 0.87020166 0.86977887 0.9769656  0.99242424]
평균 정확도: 0.9157506227600404

In [36]:
y_t = np.concatenate([y_1, pre3])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre4 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre4 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_04.csv', index = False)

In [37]:

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86938274 0.87020166 0.86977887 0.9769656  0.99242424]
평균 정확도: 0.9157506227600404

In [38]:
y_t = np.concatenate([y_1, pre4])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre5 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre5 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_05.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86907565 0.87009929 0.87018837 0.9765561  0.99375512]
평균 정확도: 0.9159349063279866

In [39]:
y_t = np.concatenate([y_1, pre5])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre6 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre6 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_06.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86876855 0.8697922  0.86988124 0.9769656  0.99457412]
평균 정확도: 0.915996343964918

In [40]:
y_t = np.concatenate([y_1, pre6])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre7 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre7 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_07.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86968984 0.86989456 0.86957412 0.97727273 0.99355037]
평균 정확도: 0.9159963230057405

In [41]:
y_t = np.concatenate([y_1, pre7])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre8 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre8 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_08.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86825673 0.8697922  0.87039312 0.97706798 0.99406224]
평균 정확도: 0.9159144543626067

In [42]:
y_t = np.concatenate([y_1, pre8])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre9 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre9 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_09.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86866619 0.87020166 0.870086   0.9777846  0.99477887]
평균 정확도: 0.9163034629842901

In [43]:
y_t = np.concatenate([y_1, pre9])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre10 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre10 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_10.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86815437 0.87020166 0.87039312 0.97727273 0.99436937]
평균 정확도: 0.9160782482386537

In [44]:
y_t = np.concatenate([y_1, pre10])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre11 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre11 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_11.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86887092 0.86917801 0.87070025 0.97798935 0.99477887]
평균 정확도: 0.9163034797516321

In [45]:
y_t = np.concatenate([y_1, pre11])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre12 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre12 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_12.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.868052   0.86938274 0.8704955  0.9765561  0.99385749]
평균 정확도: 0.915668766692413

In [46]:
y_t = np.concatenate([y_1, pre12])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre13 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre13 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_13.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86856382 0.86917801 0.87039312 0.97665848 0.99406224]
평균 정확도: 0.9157711355070347

In [47]:
y_t = np.concatenate([y_1, pre13])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre14 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre14 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_14.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.8683591  0.86876855 0.8704955  0.97706798 0.99498362]
평균 정확도: 0.9159349482463414

In [48]:
y_t = np.concatenate([y_1, pre14])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre15 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre15 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_15.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86876855 0.86968984 0.86947174 0.97768223 0.99416462]
평균 정확도: 0.9159553960198856

In [49]:
y_t = np.concatenate([y_1, pre15])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre16 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre16 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_16.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86887092 0.86897328 0.87059787 0.97522523 0.99375512]
평균 정확도: 0.9154844831244666

In [50]:
y_t = np.concatenate([y_1, pre16])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre17 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre17 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_17.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.868052   0.86876855 0.86967649 0.97686323 0.99488124]
평균 정확도: 0.9156483042474444

In [51]:
y_t = np.concatenate([y_1, pre17])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre18 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre18 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_18.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86825673 0.86887092 0.86988124 0.9769656  0.99334562]
평균 정확도: 0.9154640227754159

In [52]:
y_t = np.concatenate([y_1, pre18])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre19 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre19 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_19.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86815437 0.86897328 0.86926699 0.97635135 0.99457412]
평균 정확도: 0.9154640227754159

In [53]:
y_t = np.concatenate([y_1, pre19])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre20 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre20 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_20.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86907565 0.86876855 0.86957412 0.97645373 0.99406224]
평균 정확도: 0.9155868582268418

In [54]:
y_t = np.concatenate([y_1, pre20])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre21 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre21 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_21.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86856382 0.86846146 0.87029075 0.97665848 0.99426699]
평균 정확도: 0.915648300055609

In [56]:
y_t = np.concatenate([y_1, pre21])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre22 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre22 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_22.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86866619 0.86907565 0.87039312 0.97768223 0.99518837]
평균 정확도: 0.9162011109370102

In [57]:
y_t = np.concatenate([y_1, pre22])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre23 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre23 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_23.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86856382 0.86907565 0.86947174 0.9765561  0.995086  ]
평균 정확도: 0.9157506625824775

In [58]:
y_t = np.concatenate([y_1, pre23])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre24 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre24 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_24.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.868052   0.86856382 0.8704955  0.97635135 0.99498362]
평균 정확도: 0.91568925848023

In [59]:
y_t = np.concatenate([y_1, pre24])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre25 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre25 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_25.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86815437 0.86866619 0.87100737 0.97604423 0.99518837]
평균 정확도: 0.9158121044112445

In [60]:
y_t = np.concatenate([y_1, pre25])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre26 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre26 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_26.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86856382 0.86846146 0.86988124 0.9753276  0.99344799]
평균 정확도: 0.9151364245437336

In [61]:
y_t = np.concatenate([y_1, pre26])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre27 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre27 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_27.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86815437 0.86917801 0.86936937 0.97665848 0.99477887]
평균 정확도: 0.9156278187473805

In [63]:
y_t = np.concatenate([y_1, pre27])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre28 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre28 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_28.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86784727 0.86866619 0.86967649 0.97686323 0.99457412]
평균 정확도: 0.9155254604123474

In [65]:
y_t = np.concatenate([y_1, pre28])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre29 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre29 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_29.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86743781 0.86917801 0.86977887 0.97727273 0.99395987]
평균 정확도: 0.9155254583164296

In [88]:
y_t = np.concatenate([y_1, pre29])
y_t = list(y_t)
y_train_change=pd.Series(y_t)

lgb.fit(X_train_2,y_train_change)

pre30 = lgb.predict(X_test)
# kaggle 양식 불러오기
rs =  pd.read_csv('./data/kaggle/sample_submission.csv')
rs['income'] = pre30 # 내 모델의 예측 결과를 양식에 넣기
rs.to_csv('50K_30.csv', index = False)

scores = cross_val_score(lgb, X_train_2, y_train_change, cv=5, scoring='accuracy')

# 교차 검증 결과 출력
print("교차 검증 정확도:", scores)
print("평균 정확도:", scores.mean())

교차 검증 정확도: [0.86784727 0.86815437 0.86947174 0.9765561  0.99385749]
평균 정확도: 0.9151773955438609

In [ ]:
from sklearn.metrics import accuracy_score

# 실제 정답 데이터
y_test = rs

# 모델의 예측 결과
y_pred = pre30

# 정확도 계산
accuracy = accuracy_score(y_test, y_pred)
print("모델의 정확도:", accuracy)